.container {
	margin-block-end: 10vh;
	row-gap: 6vh;
}

.titleWrapper,
.posterWrapper,
.partiesWrapper {
	grid-column: wrapper;
}

.posterWrapper {
	margin-inline: auto;
}

.partiesWrapper {
	& > form {
		& > div {
			margin-block-start: 0.5em;
		}

		& > button {
			margin-block-start: 1em;
		}
	}
}

.poster {
	width: 300px;
	aspect-ratio: 2/3;
}

.runtimeWrapper {
	margin-block-end: 1rem;
}

@media screen and (min-width: 800px) {
	.container {
		--content-columns: 1fr 2rem 1fr;
	}

	.titleWrapper {
		grid-row-start: 1;
		grid-column: wrapper-start / span 1;
	}

	.posterWrapper {
		grid-column: span 1 / wrapper-end;
		grid-row: 1 / span 2;
	}

	.partiesWrapper {
		grid-column-end: span 1;
	}
}
