.authUiContainer {
	grid-column: wrapper;
	padding-block-start: calc(1rem + 20px);
	padding-block-end: 1rem;
	padding-inline: 2rem;
	margin-block-end: 4rem;
	border-radius: 4px;
	background-color: var(--c-dutch-white-30);
}

.authenticationMessage {
	margin-block-end: 1em;
}
