.container {
	padding-block: 1rem;
	margin-block-end: 6vh;
	align-items: center;
	background-color: var(--c-dutch-white-40);
	box-shadow: 0px 1px 3px 0px #828282;
}

.navContainer {
	grid-row-start: 1;
	grid-column-start: wrapper-start;
	justify-self: flex-start;
}

.navLink {
	position: relative;
	text-decoration: none;

	&[aria-current="page"]::after {
		content: "";
		display: block;
		width: 100%;
		height: 3px;
		position: absolute;
		left: 0px;
		bottom: -0.5rem;
		background-color: var(--c-dark-green-40);
	}

	@media (hover: hover) {
		&[aria-current="false"]:hover::after {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			position: absolute;
			left: 0px;
			bottom: -0.5rem;
			background-color: var(--c-dark-green-40);
		}
	}
}

.buttonSignOutWrapper {
	grid-row-start: 1;
	grid-column-end: wrapper-end;
	justify-self: flex-end;
}
