.buttonSignOut {
	border: unset;
	border-width: 3px;
	border-style: ridge;
	border-color: var(--c-dark-purple-50);
	background-color: var(--c-dutch-white-20);
	color: var(--c-dark-purple-50);
	padding-inline: 0.5em;
	padding-block: 0.4em;
}
