@import "reset.css";

:root {
	--c-dutch-white-10: #fff9eb;
	--c-dutch-white-20: #fff3d6;
	--c-dutch-white-30: #ffedc2;
	--c-dutch-white-40: #ffe7ad;
	--c-dutch-white-50: #ffe099;
	--c-dark-purple-10: #64023e;
	--c-dark-purple-20: #500232;
	--c-dark-purple-30: #32011f;
	--c-dark-purple-40: #280119;
	--c-dark-purple-50: #14000c;
	--c-puce-10: #f9f1f3;
	--c-puce-20: #edd4da;
	--c-puce-30: #e1b7c2;
	--c-puce-40: #d496a7;
	--c-puce-50: #ca7d91;
	--c-puce-60: #be6079;
	--c-dark-green-10: #03632e;
	--c-dark-green-20: #024f25;
	--c-dark-green-30: #023b1c;
	--c-dark-green-40: #011e0e;
	--c-dark-green-50: #011409;
	--c-lapis-lazuli-10: #9fb9d1;
	--c-lapis-lazuli-20: #83a5c3;
	--c-lapis-lazuli-30: #6891b6;
	--c-lapis-lazuli-40: #507da5;
	--c-lapis-lazuli-50: #416686;
	--c-lapis-lazuli-60: #35546e;
}

:where(.section-container) {
	display: grid;
	grid-template-columns:
		[full-start] var(--page-gap-size, 8px) [wrapper-start] var(
			--content-columns,
			1fr
		)
		[wrapper-end] var(--page-gap-size, 8px) [full-end];
}

body {
	--page-gap-size: 8vw;

	background-color: var(--c-dutch-white-20);
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
		segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
		arial, sans-serif;
	padding-block: 5vh;

	@media screen and (min-width: 720px) {
		--page-gap-size: 12vw;
	}
}

h1 {
	margin-block-end: 0.5em;
}

h2 {
	margin-block-end: 0.7em;
}
